.channel {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0.5em;
    padding: 1em;
    height: 2.5em;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .channel-volume-mute{
    border-radius: 15px;
    height: 2em;
    width: 4rem;
    background-color: #ccc;
    
    
  }
  .channel-volume-mute:hover{
    color: #fff; 
     background-color: #ccc;
  }
  
