.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer {
  font-size: 10px;
  font-weight: 020;
  color: rgb(196, 196, 196);
}

.spaces{
    color: #272727;
}