* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
}

.dot {
  color: #c4b5fd;
}

body {
  background: #323232;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: sans-serif;
}

.div {
  width: 100%;
  margin-top: 260px;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 90%;
  position: relative;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.479);
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.btn-loop {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #7c3aed;
  cursor: pointer;
  color: black;
}

.btn-no-loop {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #52525b;
  cursor: pointer;
  color: white;
}

.stop-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #52525b;
  cursor: pointer;
  color: white;
}
